// Widescreens
@include mediaXl {

}

// Desktop
@include mediaLg {

}

// Tablet
@include mediaMd {
  .main {
    align-items: center;
    text-align: center;
    padding: 1rem;

    .lg-heading {
      font-size: 4rem;
      line-height: 1;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }

  .menu-btn {
    top: 10px;
    right: 10px;
    .btn-line {
      width: 18px;
      height: 2.5px;
    }
  }

  .menu {
    .menu-nav,
    .menu-branding {
      float: none;
      width: 100%;
      min-height: 0;

      &.show {
        transform: translate3d(0, 0, 0);
      }
    }

    .menu-nav {
      height: 65vh;
      transform: translate3d(-100%, 0, 0);
      font-size: 24px;

      .nav-link {
        font-size: 24px;
      }
    }

    .menu-branding {
      height: 35vh;
      transform: translate3d(100%, 0, 0);
    }

    .portrait {
      width: 150px;
      height: 150px;
      background-size: 150px 150px;
    }
  }

  .about-info {
    grid-template-areas:
      "bioimage"
      "bio";

    grid-template-columns: 1fr;

    .bio-image {
        height: 200px;
        width: 200px;
    }
  }

  .contact-info {
    grid-template-areas:
      "contact1"
      "contact2";

    grid-template-columns: 1fr;
  }

  #experience-timeline {
    &:before{
        left: 23px;
    }
    &:before{
      top: 50px;
      height: 90%;
    }
  }

  .vtimeline-date {
      width: auto;
      text-align: left;
      position: relative;
      margin-bottom: 15px;
      display: block;
      margin-left: 70px;
  }

  .vtimeline-icon {
      margin-left: 0;
  }

  .vtimeline-content {
      margin-left: 70px;
  }
}

// Mobiles
@include mediaSm {
  .main {
    .lg-heading {
      font-size: 3rem;
    }
  }
}
