@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: $font-color;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  &.no-js{
    .menu-btn{
      display: none;
    }
  }
}

//loader
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;
  top: 0px;
  left: 0px;
  background: $font-color;
  .lds-ring {
    display: inline-block;
    position: absolute;
    width: 64px;
    height: 64px;
    top: 50%;
    left:50%;
    margin-top: -32px;
    margin-left: -32px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid $primary-color;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: $primary-color transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  &.hide{
    display:none;
  }
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  align-items: center;
  text-align: center;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    border-radius: 5px;
  }
}

a {
  color: $font-color;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

section > * {
  display: none;
}

section > *:target,
section > *:last-child {
  @include easeOut;
  display: block;
}

section > *:target ~ * {
  display: none;
}

.main {
  padding: 4rem;
  // height: 100%;
  min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1rem;
    align-items: center;
    text-align: center;
    a {
      padding: 0.4rem;
      height: 32px;
      width: 32px;
      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 15vh;
    }

    .downloadResume {
      margin-top: 2rem;
      margin-bottom: 2rem;
      position: relative;
      width: 250px;
      left: 50%;
      margin-left: -125px;
      
      .btn-light {
        box-shadow: 0 3px 33px 0 rgba($font-color, 0.8);
        border: 3px solid $secondary-color;
        border-radius: 30px;
        .btn-content {
          vertical-align: center;
          text-align: center;
        }
        &:hover {
          border: 3px solid $primary-color;
          color: $primary-color;
          @include easeOut();
        }
      }
    }
  }
}

//about page
.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio";
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $font-color 3px solid;
    height: 250px;
    width: 250px;
    @include easeOut;
    &:hover{
      border: $secondary-color 3px solid;
      @include easeOut;
    }
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
    &-details{
      padding: 1rem;
      border-radius: 5px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      background: rgba(lighten($primary-color, 2), 0.5);
    }
  }
}

//skills 
.skill-list{
  margin: 0 auto;
  padding: 0;
  text-align: center;
  li {
    display: inline-block;
    margin: 7px;
    padding: 5px 10px;
    border-radius: 5px;
    color: $secondary-color;
    background: $font-color;
    list-style: none;
    cursor: default;
    font-size: 1.2em;
    @include easeOut;
    &:hover {
      background: $secondary-color;
      color: $font-color;
      transform: scale(1.2);
      @include easeOut;
    }
  }
}

//Contact page
.contact-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: "contact1 contact2 contact2";
  grid-template-columns: repeat(3, 1fr);

  .contact-1 {
    grid-area: contact1;
  }

  .contact-2 {
    grid-area: contact2;
  }

  .contact {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 5px;

    #contact-form{
      margin: 2vh auto;
      input, textarea{
        display: block;
        width: 100%;
        padding: 10px;
        border-radius: 4px;
        border: none;
        margin-bottom: 10px;
        background: darken($primary-color, 30);
        color: $font-color;
        @include easeOut;

        &::placeholder {
          color: $font-color;
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        }
      }

      textarea{
        height: 25vh;
        width: 100%;
        max-width: 100%;
        min-height: 25vh;
        resize: none;
      }

      button {
        width: 100%;
        background: $font-color;
        border-radius: 4px;
        padding: 5px 10px;
        border: none;
        color: $primary-color;
        font-weight: 700;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        @include easeOut
      }
    }
  }
}

#experience-timeline {
  margin: 30px auto 0 auto;
  position: relative;
  max-width: 1000px;

  &:before {
      position: absolute;
      content: '';
      top: 0;
      bottom: 0;
      left: 303px;
      right: auto;
      height: 100%;
      width: 3px;
      background: linear-gradient(to bottom, $font-color, rgba($font-color, 1), rgba($font-color, 1), rgba($font-color, 1), rgba($font-color, 1), rgba($font-color, 1), rgba($font-color, 1), rgba($font-color, 1), rgba($font-color, 1), rgba($font-color, 1), rgba($font-color, 0.5), rgba($font-color, 0));
      z-index: 0;
  }
}

.vtimeline-content {
  margin-left: 350px;
  background: $font-color;
  border-bottom: 5px solid $secondary-color;
  padding: 15px;
  border-radius: 3px;
  text-align: left;

  h3 {
      font-size: 1.5em;
      font-weight: 300;
      color: $secondary-color;
      display: inline-block;
      margin: 0;
  }

  h4 {
      font-size: 1.2em;
      font-weight: 300;
      color: $secondary-color;
      margin: 0 0 15px 0;
  }

  p {
      color: $primary-color;
      font-size: 0.9em;
      margin: 0;
  }
}

.vtimeline-point {
  position: relative;
  display: block;
  vertical-align: top;
  margin-bottom: 30px;
}

.vtimeline-icon {
  position: relative;
  color: $secondary-color;
  width: 50px;
  height: 50px;
  background: $font-color;
  border-radius: 50%;
  float: left;
  z-index: 1;
  margin-left: 280px;
  text-align: center;
  vertical-align: center;
  i {
      display: block;
      font-size: 2em;
      margin: 10px auto;
  }
}

.vtimeline-date {
  width: 260px;
  text-align: right;
  position: absolute;
  left: 0;
  top: 10px;
  font-weight: 500;
  color: $secondary-color;
}

//button styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  @include easeOut;
  &:hover {
    background: $font-color;
    color: $primary-color;
    @include easeOut;
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: $font-color;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: $secondary-color;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: rgba($secondary-color, $background-opacity);
  color: $font-color;
  height: 60px;
}

@import "mobile";
